header{

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-left: 6%;
    margin-right: 6%;


}

a{

    text-decoration:none;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;

}

nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1{

    text-align: center;

    margin-top: 8%;
    margin-bottom: 6%;

}

.button-jouer{
    display: block;
    margin: 20px auto;
    font-weight: bold; /* Texte en gras */
    padding: 10px 20px; /* Espace interne */


}


footer{


    text-align: center;
    margin-top: 20%;
}